{% extends 'base.html' %}

{% block content %}
	<form id="data-form" method="POST">
          <div class="form-row align-items-end">
            <div class="form-group col-md-6">
                <label for="country">Select Country:</label>
                <select id="country" name="country" class="form-control custom-select" required>
                    <option value="">Choose...</option>
                    <option value="Mexico">Mexico</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Thailand">Thailand</option>
                    <!-- Add more countries as needed -->
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="indicator">Select Indicator:</label>
                <select id="indicator" name="indicator" class="form-control custom-select" required>
                    <option value="">Choose...</option>
                    <option value="GDP">GDP</option>
                    <option value="currency">Currency</option>
                    <option value="population">Population</option>
                    <option value="productivity">Productivity</option>
                    <option value="imports">Imports</option>
                    <option value="exports">Exports</option>
                    <option value="wages">Wages</option>
                    <option value="temperature">Temperature</option>
                    <!-- Add more indicators as needed -->
                </select>
            </div>
          </div>
    	  <div class='submit form-group col-md-12'>
            <button type="submit" class="btn btn-success custom-button">Get Data</button>
    	  </div>
        </form>
{% endblock %}

{% block scripts %}
    const labels = {{ labels | tojson }};
    const values = {{ values | tojson }};
    const title = {{ title | tojson }};
    const country = title.trim() ? title.split(' ')[0] : '';

    function renderBarGraph() {
        const ctx = document.createElement('canvas');
        document.getElementById('table-container').innerHTML = '';
        document.getElementById('table-container').appendChild(ctx);

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
		    {
		    label: country,
                    data: values,
                    backgroundColor: 'rgba(75, 250, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
{% endblock %}
